/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.03.2020, 12:34:22
    Author     : Andreas Bitzan
*/

body{
    font-family: Arial, sans-serif;
    background-color: #4f1852;
    box-sizing: border-box;
}
h1{
    color: white;
    margin: 2rem;
}
header p{
    margin: 0 2rem;
    color: white;
}
.mainContainer{
    margin: 2rem;
    background-color: #efefef;
    padding: 2rem 0.5rem;
}
.subheader{
    color:white;
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.card{
    text-align: center;
}
.bottomBtns{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-between;
}
.bottomBtns a{
    padding: 0.5rem;
    margin: 0.2rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    flex-basis: 35%;
    text-align: center;
}
.bottomBtns a:hover{
    text-decoration: underline;
}

.bottomBtns a:first-child{
    flex-basis: 100%;
    text-align: center;
    background-color: #964b98;
}
.bottomBtns a:nth-child(2){
    background-color: green;
}

.bottomBtns a:last-child{
    background-color: red;
}



.eventSection{
    padding: 1rem 0; 
}

label{
    display: block;
}

.greenBtn{
    padding:0.2rem 1rem;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.greenBtn:hover{
    text-decoration: underline;
}

.blueBtn{
    background-color: #319fac;
}
.redBtn{
    background-color: red;
}
.block{
    display: block;
    margin: 0.5rem 0;
}
.submitBtn{
    font-size: 100%;
    border: none;
    font-family: inherit;
}

.create{
    display: flex;
    justify-content: center;
}

.warning, .notification{
    color: white;
    text-align: center;
}
.notification{
    background-color: #964b98; 
    padding: 1rem;
}

.createEventForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.createEventForm div{
    margin: 0.5rem;
}
.createEventForm div:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}
input[type=submit]{
    cursor: pointer;
}
